@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

:root {
    --corange: #FFAB4F;
    --cred: #EE423D;
    --cpurple: #843FA0;
    --cgreen: #05C985;
    --cblue: #1F8EFA;
    --cblack: #242E42;
    --cgrey: #3E4E6C;
    --clightgrey: #657D95;
    --cwhite: #FFFFFF;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

html {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1800 - 320)));
}

body {
    margin: 0;
}

body,
button {
    color: var(--cwhite);
}

body,
textarea {
    font-family: 'Roboto', sans-serif;
}

img,
input,
label {
    display: block
}

span {
    display: inline-block;
}

ul,
p {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

a {
    color: inherit;
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: initial;
}

img {
    user-select: none;
    pointer-events: none;
}
