body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#appWrapper:before {
  content: '';
  position: absolute;
  height: 50px;
  width: 100%;
  background: var(--cblack);
}

#pageWrapper {
  position: relative;
  z-index: 2;
}

#pageWrapper,
.container,
#parametres {
  height: calc(100% - 50px);
  overflow: auto;
}

#contenu,
.container,
#parametres {
  padding: 10px 15px;
}

#pageWrapper>#contenu {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Switch Checkbox START **/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 10px;
  background-color: var(--cblack);
  border-radius: 20px;
}

.switch:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  background-color: var(--clightgrey);
  transition: .3s;
  top: -2.75px;
}

input[type='checkbox']:checked+.switch:after {
  transform: translateX(15px);
  background-color: var(--cblue);
}

.offscreen {
  position: absolute;
  display: none
}

/** Switch Checkbox END **/

.signWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blueButton {
  padding: 1rem;
  background: var(--cblue);
  border-radius: 5px;
  text-align: center;
  width: 70%;
}

form .blueButton {
  width: 100%;
}

.signWrapper .blueButton:first-child {
  margin-bottom: 1rem;
}

.italicInfo {
  font-style: oblique;
  color: var(--clightgrey);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container>li {
  text-transform: capitalize;
}

form {
  width: 85%;
}

.redirectWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* padding-bottom: 3.5rem; */
}

.redirectWrapper>a:first-of-type {
  margin-bottom: 1rem;
}

/** Input, Label START **/
input {
  border-radius: 5px;
  padding: .4rem;
  border: 1px solid var(--cblue);
  width: 100%;
  background: var(--cblack);
  color: var(--cwhite);
}

input::placeholder {
  color: var(--clightgrey);
}

label {
  margin-bottom: .3rem;
  font-weight: 100;
}

/** Input, Label END **/
.ajaxResponse {
  margin-bottom: .2rem;
  text-align: right;
  font-size: 80%;
  font-style: oblique;
  padding-right: .2rem;
  padding-top: .2rem;
  transition: .2s;
}

#formConnexion .ajaxResponse {
  margin-bottom: 1.5rem;
}

#parametres>.container>li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

/** doButton START **/
.doButton {
  display: block;
  height: 1.15rem;
  width: 1.15rem;
  border-radius: 30px;
  background: var(--cblack);
  position: relative;
}

.doButton:after {
  content: '';
  display: block;
  position: absolute;
  border-color: var(--cred);
  border-style: solid;
  border-width: 0 1px 1px 0;
  padding: 2.5px;
  transform: rotate(-45deg);
  top: .37rem;
  left: .35rem;
}

/** doButton END **/
#parametres {
  display: flex;
  flex-direction: column;
}

#parametres select {
  background: var(--cblack);
  color: var(--clightgrey);
  border-radius: 5px;
  padding: .1rem .2rem;
  border: solid var(--cblack);
  position: absolute;
  right: 0;
}

/** aboutButton START **/
.aboutButton {
  text-transform: lowercase;
  height: 1.15rem;
  width: 1.15rem;
  border-radius: 30px;
  background: var(--cblack);
  color: var(--clightgrey);
  text-align: center;
  line-height: 1.6;
  font-size: .7rem;
}

/** aboutButton END **/
.a {
  fill: none;
  stroke: var(--clightgrey);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

#speedGaugeSVG {
  width: 80%;
  margin: 0 auto;
  display: block;
  max-height: 17rem;
}

/** GPS Signal START **/
#signalWrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
  transform-origin: top right;
  transform: scale(.5)
}

#signalWrapper>img {
  height: 3rem;
}

.svgContent {
  fill: #fff;
}

#gps_Signal {
  height: 50px;
  display: flex;
  align-items: flex-end;
  right: 10px;
  bottom: 10px;
}

#gps_Signal .bar {
  height: 100%;
  width: 10px;
  display: block;
  border-radius: 2px;
  margin: 0 3.5px;
}

#gps_Signal .bar.s1 {
  height: 20%;
}

#gps_Signal .bar.s2 {
  height: 40%;
}

#gps_Signal .bar.s3 {
  height: 60%;
}

#gps_Signal .bar.s4 {
  height: 80%;
}

#gps_Signal.q1 .bar {
  background: red;
}

#gps_Signal.q1 .bar:not(.s1) {
  background: grey;
}

#gps_Signal.q2 .bar {
  background: orange;
}

#gps_Signal.q2 .bar:not(.s1):not(.s2) {
  background: grey;
}

#gps_Signal.q3 .bar {
  background: orange;
}

#gps_Signal.q3 .bar:not(.s1):not(.s2):not(.s3) {
  background: grey;
}

#gps_Signal.q4 .bar {
  background: green;
}

#gps_Signal.q4 .bar:not(.s1):not(.s2):not(.s3):not(.s4) {
  background: grey;
}

#gps_Signal.q5 .bar {
  background: green;
}

/** GPS Signal END **/

/** Menu START **/
#appWrapper {
  width: 100%;
  height: 100%;
  background: var(--cgrey);
  margin: 0 auto;
  margin-top: 0;
  position: relative;
  overflow: hidden;
}

#menu {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: var(--cblack);
}

#menu:before {
  content: '';
  position: absolute;
  background: var(--cgrey);
  width: 100%;
  height: 1.5px;
  z-index: 2;
  top: -1px
}

#listWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.listItem {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#listWrapper a {
  width: 25px;
  height: 25px;
  border-radius: 8px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}

#backMenuSelector {
  background: var(--cgrey);
  height: 100%;
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  transition: left .2s ease-out;
}

#backMenuSelector:before,
#backMenuSelector:after {
  content: '';
  display: block;
  width: 10px;
  height: 100%;
  background: var(--cblack);
  position: relative;
}

#backMenuSelector:before {
  border-radius: 0 50px 0 0;
  left: -1px
}

#backMenuSelector:after {
  border-radius: 50px 0 0 0;
  position: absolute;
  top: 0;
  right: -1px
}

/** Menu END **/
.speedWrap {
  position: relative;
  width: 100%;
}
.readoutWrapper {
  color: #fff;
  font-size: 7rem;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#readout + span {
  font-size: 10%;
  position: absolute;
  width: 100%;
  text-align: center;
  left:0
}
.readoutUnit {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10%;
  font-size: 75%;
}

.avgIcon {
  background-image: url('../images/average_speed.svg');
}

.maxIcon {
  background-image: url('../images/max_speed.svg');
}

.distanceIcon {
  background-image: url('../images/distance.svg');
}

.durationIcon {
  background-image: url('../images/duration.svg');
}

.carKeyIcon {
  background-image: url('../images/car_key.svg');
}

.avgIcon,
.maxIcon,
.distanceIcon,
.durationIcon,
.carKeyIcon {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: relative;
  top: .5rem;
  right: .4rem;
}

.wrapStats {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#start {
  font-size: 1.2rem;
  padding: 0;
}

.backLegal {
  height: 3rem;
  width: 3rem;
  border: 5px solid var(--cred);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cblack);
  background: var(--cwhite);
  font-weight: bold;
  position: absolute;
  right: 4%;
  top: 0;
}
