<h1>Connexion</h1>
<div class="container">
    <form id="formConnexion" action="server/ajax/connexion.php" method="POST">
        <input id="hidden_userId" type="hidden" name="hidden_userId">
        <input id="hidden_userHash" type="hidden" name="hidden_userHash">
        <div class="form-group">
            <label for="pseudoForm">Votre Pseudo</label>
            <input required type="text" class="form-control" id="pseudoForm" name="pseudoForm" placeholder="Votre pseudo">
            <div class="ajaxResponse pseudo">&nbsp;</div>
        </div>
        <div class="form-group">
            <label for="passForm">Votre mot de passe</label>
            <input required type="password" class="form-control" id="passForm" name="passForm" placeholder="Votre mot de passe">
            <div class="ajaxResponse pass">&nbsp;</div>
        </div>
        <button type="submit" name="connexionButton" class="blueButton">Se connecter</button>
    </form>
    <div class="ajaxResponse global">&nbsp;</div>
    <br>
    <div class="redirectWrapper">
        <a onclick="loadSignMethod(signUp_link)" class="blueButton">S'inscrire</a>
        <a href="resetpass.php" class="blueButton">Mot de passe perdu</a>
    </div>
</div>

<script type="text/javascript">
    $('#hidden_userId').val(user.id)
    $('#hidden_userHash').val(user.hash)


    var myForm = $('#formConnexion')

    myForm.submit(function (e) {

        e.preventDefault()

        $.ajax({
            type: myForm.attr('method'),
            url: myForm.attr('action'),
            data: myForm.serialize(),
            success: function (data) {
                var obj = JSON.parse(data)
                if (obj.trustRes === 1) {
                    localStorage.setItem('userId', obj.userId)
                    localStorage.setItem('userHash', obj.userHash)
                    $('.ajaxResponse' + '.global').text(obj.res).css('color', 'var(--cgreen)')
                    setTimeout(function () {
                        redirectLoadMethod(page2)
                    }, 1500)
                } else if (obj.trustRes === 0) {
                    $('.ajaxResponse' + '.global').text(obj.res).css('color', 'var(--cred)')
                } else if (obj.trustRes === 2) {
                    console.log(obj.res)
                }
            },
            error: function (data) {
                $('.ajaxResponse.global').text(obj.res).css('color', 'var(--cred)')
            },
        })
    })
</script>
