<h1>Inscription</h1>
<div class="container">
    <form id="formInscription" action="server/ajax/inscription.php" method="POST">
        <div class="form-group">
            <label for="pseudoForm">Votre Pseudo</label>
            <input required maxlength="30" type="text" class="form-control" name="pseudoForm"
                placeholder="Votre pseudo">
            <div class="ajaxResponse pseudo">&nbsp;</div>
        </div>
        <div class="form-group">
            <label for="emailForm">Votre e-mail</label>
            <input required type="email" class="form-control" name="emailForm" placeholder="Votre mail">
            <div class="ajaxResponse mail">&nbsp;</div>
        </div>
        <div class="form-group">
            <label for="mailConfirmForm">Confirmez l'e-mail</label>
            <input required type="email" class="form-control" name="mailConfirmForm" placeholder="Confirmez votre mail">
            <div class="ajaxResponse mailConfirm">&nbsp;</div>
        </div>
        <div class="form-group">
            <label for="passForm">Votre mot de passe</label>
            <input required type="password" class="form-control" name="passForm" placeholder="Votre mot de passe">
            <div class="ajaxResponse pass">&nbsp;</div>
        </div>
        <div class="form-group">
            <label for="passConfirmForm">Confirmez le mdp</label>
            <input required type="password" class="form-control" name="passConfirmForm"
                placeholder="Confirmez votre mdp">
            <div class="ajaxResponse passConfirm">&nbsp;</div>
        </div>
        <button type="submit" name="inscriptionButton" class="blueButton">S'inscrire</button>
    </form>
    <div class="ajaxResponse global">&nbsp;</div>
    <br>
    <a onclick="loadSignMethod(signIn_link)" class="blueButton">Se connecter</a><br>
</div>

<script type="text/javascript">
    var myForm = $('#formInscription')

    myForm.submit(function (e) {
        e.preventDefault()
        $('.ajaxResponse').html('&nbsp;')
        $.ajax({
            type: myForm.attr('method'),
            url: myForm.attr('action'),
            data: myForm.serialize(),
            success: function (data) {
                var obj = JSON.parse(data)
                if (obj.trustRes === 1) {
                    $('.ajaxResponse' + obj.placement).text(obj.res).css('color', 'var(--cgreen)')
                    setTimeout(function () {
                        loadSignMethod(signIn_link)
                    }, 2000)
                } else if (obj.trustRes === 0) {
                    $('.ajaxResponse' + obj.placement).text(obj.res).css('color', 'var(--cred)')
                } else if (obj.trustRes === 2) {
                    console.log(obj.res)
                }
            },
            error: function (data) {
                $('.ajaxResponse.global').text(obj.res).css('color', 'var(--cred)')
            },
        })
    })
</script>
