<p class="italicInfo">Vous souhaitez que Cursy analyse votre conduite ?<br><br>
    Il vous suffit de créer un compte pour sauvegarder vos données en ligne et pouvoir y accéder à tout moment.</p>
<div class="signWrapper">
    <a onclick="loadSignMethod(signUp_link)" class="blueButton">Créer mon compte</a>
    <a onclick="loadSignMethod(signIn_link)" class="blueButton">J'ai déjà un compte</a>
</div>
