<h1>Paramètres</h1>
<ul id="parametres">
    <div class="container">
        <li onclick="nightToggle()"><label for="nightToggle">Mode Nuit</label><input type="checkbox" id="nightToggle" class="offscreen" /><label
                for="nightToggle" class="switch"></label>
        </li>
    </div>
    <div class="container">
        <li onclick="mileToggle()"><label for="mileToggle">Système impérial (Mile)</label><input type="checkbox" id="mileToggle"
                class="offscreen" /><label for="mileToggle" class="switch"></label></li>
    </div>
    <div class="container">
        <li onclick="dumpStats()">
            <div>Supprimer mes statistiques</div>
            <div class="doButton"></div>
        </li>
    </div>
    <div class="container">
        <li onclick="disconnect()">
            <div><span class="connected">Dé</span>connecter mon compte</div>
            <div class="doButton"></div>
        </li>
    </div>
    <div class="container">
        <li>
            <div>À propos</div>
            <div class="aboutButton">i</div>
        </li>
    </div>
    <div class="container">
        <li>
            <label>Langue</label>
            <select onclick="optLang()"name="optLang">
                <option selected value="fr">Français</option>
                <option value="en">English</option>
            </select>
        </li>
    </div>
    <div class="container">
        <li>
            <label>Type de conduite</label>
            <select onclick="optDrive()" name="optDrive">
                <option selected value="1">Écologique</option>
                <option value="2">Économique</option>
                <option value="3">Circuit</option>
            </select>
        </li>
    </div>
    <div class="container">
        <li onclick="editPseudo()">
            <div>Modifier mon pseudo</div>
            <div class="doButton"></div>
        </li>
    </div>
    <div class="container">
        <li onclick="editMail()">
            <div>Modifier mon adresse email</div>
            <div class="doButton"></div>
        </li>
    </div>
    <div class="container">
        <li onclick="editPass()">
            <div>Modifier mon mot de passe</div>
            <div class="doButton"></div>
        </li>
    </div>
</ul>
<script>
initParams()
</script>
